body{
    background: #43aff5a3;
}
.block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 150px;
}
.card{
    padding: 30px;
    border: none;
    border-radius: 13px;
    background: #ecec1182;
    width: 500px;
    height: 280px;
 display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.bt{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.514);
    color: whitesmoke;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.bt:hover{
    background: rgba(0, 0, 0, 0.747);
    transition: all 0.6s ease-in-out;
}

.dard{
    font-size: 30px;
    margin-bottom: 20px;
    color: #00000082;
}